#page-container
{
    background-color:lightgray;
    position:relative;
    min-height:100vh;
}
#content-wrap
{
    padding-bottom:4rem;
}
header
{
    background-color:blueviolet;
    color:floralwhite;
    font-size:1.1rem;
    font-weight:600;
}
.nav
{
    background-color:lavender;
}
.nav-link
{
    background-color:lavender;
    color:slateblue;
    font-weight:600;
}

.footer
{
    position:absolute;
    bottom:0;
    width:100%;
}
.container
{
    margin-top:30px;
    margin-bottom:30px;
}
.lista-lectura
{
    background-color:yellowgreen;
    border-radius:15px 60px;
    font-weight:bold;
    margin-top:30px;
    width:40%;

}
.parrafos
{
    background-color:lightsteelblue;
    border-radius:10px;
    padding:.5rem;
    text-align:justify;
}
.firstfooter
{
    background-color:cadetblue;
    text-align:center;
    margin-top:50px;
    padding:10px 10px;
    color:black;
}
.secondfooter
{
    background-color:darkseagreen;
    text-align:center;
    padding:5px 5px;
    font-size:.8rem;
}
.linkfooter:link
{
    color:khaki;
}
.linkfooter:visited
{
    color:palegoldenrod;
}
.linkfooter:hover
{
    color:black;
}