body
{
    min-height:100%;
}
#page-container
{
    background-color:lightgray;
    position:relative;
    min-height:100vh;
}
#content-wrap
{
    padding-bottom:7.5rem;
}
header
{
    background-color:blueviolet;
    color:floralwhite;
    font-size:1.1rem;
    font-weight:600;
}
.nav
{
    background-color:lavender;
    width:100%;
}
.nav-link
{
    background-color:lavender;
    color:slateblue;
    font-weight:600;
}
.formbox
{
    width:300px;
    height:150px;

}
.container-sup
{
    margin-top:15px;
    margin-bottom:15px;
    padding-left:30px;
}
.container-inf
{
    margin-top:50px;
    padding-left:30px;
}
.footer
{
    position:absolute;
    width:100%;
    bottom:0;

}
.firstfooter
{
    background-color:cadetblue;
    text-align:center;
    margin-top:50px;
    padding:10px 10px;
    width:100%;

}
.secondfooter
{
    background-color:darkseagreen;
    text-align:center;
    padding:3px 3px;
    font-size:.8rem;
    width:100%;
}
.linkfooter:link
{
    color:khaki;
}
.linkfooter:visited
{
    color:palegoldenrod;
}
.linkfooter:hover
{
    color:black;
}

@media (max-width:768px) {
    .txt-area {
        max-width:75%;
}
